<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="./favicon.png">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="events.style.css">
    <script type="module" src="/scripts/helpers.js"></script>
    <script defer type="module" src="/scripts/navEventHandlers.js"></script>
    <script defer type="module" src="/scripts/events.js"></script>
    <title>Pokemon App</title>
  </head>
  <body>
    <%- include("./partials/headerAndNav", {user: user}); %> 
    <main>
      <div class="prev-order-wrapper">
        <h1>Previous Orders</h1>

        <ul class="prev-orders">
          <% previousOrders.forEach(order => { %>
           <li class="order-wrapper">
             <div class="order-heading">
               <div style="text-align: left;">Pokemon Card</div>
               <div>Quantity</div>
               <div>Subtotal</div>
             </div>
             <% order.items.forEach(item => { %>
              <div class="item-wrapper">
                <div class="product"> 
                  <div class="pokemon-id"> #<%= item.pokemonId %> </div>
                  <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= item.pokemonId %>.png" />  
                </div>
                <div> <%= item.quantity %> </div>
                <div> $<%= item.subtotal %> </div>
              </div>
             <% }) %>
             <div class="item-wrapper total-price">
              <div> </div>
              <div> Total: </div>
              <div> $<%= order.total %> </div>
            </div>
           </li>
          <% }) %>
          </ul>
      </div>
      <div class="event-history-wrapper">
        <h1>User Events</h1> 
        <ul class="event-history">
        <% events.forEach(event => { %>
          <li class="event-wrapper" id="<%= event.id %>">
            <div class="up-down-vote">
              <button class="up-vote">Up 👍</button>
              <button class="down-vote">Down 👎</button>
            </div>
            <div class="event-content">
              <p> Timestamp: <%= event.time %> </p> 
              <p> Description: <%= event.text %> </p>
              <p class="event-hits"> Hits: <%= event.hits %> </p>
            </div>
            <button class="delete-btn">Delete 🗑</button>
          </li>
        <% }) %>
        </ul>
      </div>
   </main>
   <%- include("./partials/footer"); %> 
  </body>
</html>
